@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-5">from <b>Nikolay Ivanov</b> to <b>3dEYE</b></h1>
    <p>Habr career <a href="https://career.habr.com/nikolay961996" target="_blank">resume</a>.</p>
</div>

<h3 class="display-6 mb-2 mt-3">Used technologies:</h3>
<div class="row mt-3 mb-3">
    <div class="col-5">
        <ul>
            <li>C#</li>
            <li>.NET 6</li>
            <li>ASP.NET Core MVC</li>
            <li>Entity Framework Core</li>
            <li>Migrations</li>
            <li>AutoMapper</li>
            <li>Dependency Injections</li>
            <li>Reflections</li>
            <li>JS</li>
            <li>Ajax</li>
            <li>JQuery</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <p>This program not commercial. Only for demonstration software developer skills.</p>
    </div>
</div>